venv/    # Virtual environment directory
*.pyc    # Compiled Python files
__pycache__/    # Python cache directory
.idea/      # PyCharm/IntelliJ IDEA configuration directory
lib/      # Third-party libraries or dependencies
pyvenv.cfg      # Configuration settings specific to the virtual environment
bin/      # Store executable scripts
.git      # Ensure that the Git repository remains intact and doesn't get unintentionally modified